.titulo_construase{
  width: 1050px;
  height: auto; /* Mantém a proporção da altura */
  margin-left: 150px;
  margin-top: -25px; 
}
body{
  background-color: #044ecf;
}

/*! Classe do Menu - Ainda por finalizar
.div_menu{
    padding: 20px;
    background-color: #ff8c1000;
    margin: -5px;
    height: 10px;
    border: 4px solid rgb(0, 0, 0);
    text-align: center;
}
*/

.seta_inicio{
  width: 500px;
  height: auto;
  margin-left: 450px;
  margin-top: -200px; 
}

.seção_introdução {
    width: 300px;           /* Largura */
    height: 300px;          /* Altura igual à largura para ser um quadrado */
    background-color: #febd19; /* Cor de fundo (cinza claro) */
    border: 20px solid #000000;  /* Borda preta opcional */
    padding: 20px;          /* Espaço interno para o texto não encostar na borda */
    margin-left: 300px;
    margin-top: -50px;
    border-radius: 30px;
    
    /* Para garantir que o texto não saia do quadrado se for muito grande */
    overflow: auto; 
}
