.titulo_construase{
  width: 1050px;
  height: auto; /* Mantém a proporção da altura */
  margin-left: 150px;
  margin-top: -25px; 
}
body{
  background-color: #044ecf;
}

/*! Classe do Menu - Ainda por finalizar
.div_menu{
    padding: 20px;
    background-color: #ff8c1000;
    margin: -5px;
    height: 10px;
    border: 4px solid rgb(0, 0, 0);
    text-align: center;
}
*/

.seta_inicio{
  width: 500px;
  height: auto;
  margin-left: 450px;
  margin-top: -200px; 
}

.seção_introdução {
    display: inline-block;
    vertical-align: top;
    width: 300px;           /* Largura */
    height: 315px;          /* Altura */
    background-color: #febd19; /* Cor de fundo */
    border: 10px solid #000000;  /* Borda preta */
    outline: 7px solid rgb(255, 255, 255); /* Borda por fora */
    padding: 20px;          /* Espaço interno para o texto não encostar na borda */
    margin-left: 150px;
    margin-top: 0px;
    border-radius: 30px;
    
    /* Para garantir que o texto não saia do quadrado se for muito grande */
    overflow: auto; 
}

.seção_quem_somos {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    height: 315px;
    background-color: #febd19;
    border: 10px solid #000000;  /* Borda preta */
    outline: 7px solid rgb(255, 255, 255); /* Borda por fora */
    padding: 20px;

    margin-left: 50px;
    margin-top: 0px;
    border-radius: 30px;

    overflow: auto; 
}

h2 {
    text-align: center;
}
